[submodule "deps/SDL"]
	path = deps/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "deps/yoga"]
	path = deps/yoga
	url = git@github.com:facebook/yoga.git
[submodule "deps/plutosvg"]
	path = deps/plutosvg
	url = git@github.com:sammycage/plutosvg.git
